
ADVRig/scenes/Lara Redo/LaraMaybeElbowFix.ma

ADVRig/sourceimages/.mayaSwatches/White.png_hcm.swatch

ADVRig/sourceimages/dragon body_Base_Color.jpeg

ADVRig/sourceimages/dragon body_Base_Color.png

ADVRig/sourceimages/dragon body_Base_Color.tx

ADVRig/sourceimages/dragon head_Base_Color.jpeg

ADVRig/sourceimages/dragon head_Base_Color.png

ADVRig/sourceimages/dragon head_Base_Color.tx

ADVRig/sourceimages/dragon wings_Base_Color.png

ADVRig/sourceimages/dragon wings_Base_Color.tx

ADVRig/sourceimages/DRAGON-lp_dragon body_Normal.jpeg

ADVRig/sourceimages/DRAGON-lp_dragon body_Normal.tx

ADVRig/sourceimages/DRAGON-lp_dragon head_Normal.jpeg

ADVRig/sourceimages/DRAGON-lp_dragon head_Normal.tx

ADVRig/sourceimages/DRAGON-wings_wings, teeth, eye_BaseColor.jpeg

ADVRig/sourceimages/DRAGON-wings_wings, teeth, eye_BaseColor.tx

ADVRig/sourceimages/DRAGON-wings_wings, teeth, eye_Normal.jpeg

ADVRig/sourceimages/White.png

ADVRig/sourceimages/.mayaSwatches/dragon body_Base_Color.jpeg_hcm.swatch

ADVRig/sourceimages/.mayaSwatches/dragon body_Base_Color.png_hcm.swatch

ADVRig/sourceimages/.mayaSwatches/dragon head_Base_Color.png_hcm.swatch

ADVRig/sourceimages/.mayaSwatches/dragon wings_Base_Color.png_hcm.swatch

ADVRig/sourceimages/.mayaSwatches/DRAGON-lp_dragon body_Normal.jpeg_hcm.swatch

ADVRig/sourceimages/.mayaSwatches/DRAGON-lp_dragon head_Normal.jpeg_hcm.swatch
